<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">

        <h2 class="text-2xl font-bold text-center mb-6">Update Student</h2>

        <form  method="POST" class="space-y-4">

            {% csrf_token %}

            <!-- Name -->
            <div>
                <label class="block text-gray-700 font-medium">Name</label>
                <input type="text" name="name" value="{{ student.name}}"
                class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>

            <!-- Email -->
            <div>
                <label class="block text-gray-700 font-medium">Email</label>
                <input type="email" name="email" value="{{ student.email }}"
                class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>

            <!-- Phone -->
            <div>
                <label class="block text-gray-700 font-medium">Phone Number</label>
                <input type="text" name="phone" value="{{ student.phone_number }}"
                class="w-full mt-1 p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
            </div>

            <!-- Buttons -->
            <div class="flex justify-between pt-4">

                <button type="submit"
                class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600">
                    Update
                </button>

                <a href="index.html"
                class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500">
                    Cancel
                </a>

            </div>

        </form>

    </div>

</body>
</html>